.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal .modal-content {
    background-color: #191621c9;
    margin: 3% auto;
    padding: 20px;
    width: 80%;
    min-width: 230px;
    max-width: 700px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: var(--cor-branca);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal .modal-content .modal-body {
    opacity: 1;
    padding: 20px;
    text-align: center;
}

.modal .modal-content .modal-body img {
    max-width: 100%;
    margin: 20px 0;
    border-radius: 8px;
}

.modal .modal-content .modal-body .modal-info {
    margin: 20px 0;
    color: var(--cor-branca);
}

.modal .modal-content .modal-body .modal-info p {
    padding-bottom: 10px;
}

.modal-content .modal-body .modal-image {
    max-height: 450px;
}

.modal-content .modal-body .modal-links {
    display: flex;
    justify-content: space-evenly;
}

.hidden{
    display: none;
}

@media(max-width: 525px) {
    .modal-content .modal-body .modal-image {
        max-height: 350px;
    }

    .modal-content .modal-body .modal-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .modal-content .modal-body .modal-links a {
        width: 200px;
    }
    .modal-content .modal-body .modal-info .modal-descricao {
        display: none;
    }

    
}