:root {
    --cor-primaria: #E4309A;
    --cor-secundaria: #47FFC5;    
    --cor-branca: #fff;
    --cor-fundo-escuro: #14101c;    
    --cor-fundo-medio: #191621;
    --cor-fundo-claro: #201c2d;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Raleway', sans-serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }